.u-section-1 {
  background-image: url("/images/382110545-0.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 654px;
}

.u-section-1 .u-shape-1 {
  width: 570px;
  height: 402px;
  margin: 131px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 539px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 413px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }
}