.u-section-1 {
  background-image: url("/images/af9de2c6.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 737px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 46px 45px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -39px 804px 0 61px;
}

.u-section-1 .u-text-2 {
  margin: 64px -42px 0 907px;
}

.u-section-1 .u-table-1 {
  margin-top: 26px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  background-image: linear-gradient(#a7d9db, #4d6566);
}

.u-section-1 .u-table-cell-2 {
  background-image: linear-gradient(#a7d9db, #4d6566);
}

.u-section-1 .u-table-cell-3 {
  background-image: linear-gradient(#a7d9db, #4d6566);
}

.u-section-1 .u-table-cell-4 {
  background-image: linear-gradient(#a7d9db, #4d6566);
}

.u-section-1 .u-table-cell-5 {
  background-image: linear-gradient(#a7d9db, #4d6566);
}

.u-section-1 .u-table-cell-6 {
  background-image: linear-gradient(#a7d9db, #4d6566);
}

.u-section-1 .u-table-cell-7 {
  background-image: linear-gradient(#a7d9db, #4d6566);
}

.u-section-1 .u-table-cell-8 {
  background-image: linear-gradient(#a7d9db, #4d6566);
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
}

.u-section-1 .u-text-3 {
  margin: 101px -42px 0 907px;
}

.u-section-1 .u-table-2 {
  height: 122px;
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-1 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-17 {
  background-image: linear-gradient(#a7d9db, #4d6566);
}

.u-section-1 .u-table-cell-18 {
  background-image: linear-gradient(#a7d9db, #4d6566);
}

.u-section-1 .u-table-cell-19 {
  background-image: linear-gradient(#a7d9db, #4d6566);
}

.u-section-1 .u-table-cell-20 {
  background-image: linear-gradient(#a7d9db, #4d6566);
}

.u-section-1 .u-table-cell-21 {
  background-image: linear-gradient(#a7d9db, #4d6566);
}

.u-section-1 .u-table-cell-22 {
  background-image: linear-gradient(#a7d9db, #4d6566);
}

.u-section-1 .u-table-cell-23 {
  background-image: linear-gradient(#a7d9db, #4d6566);
}

.u-section-1 .u-table-cell-24 {
  background-image: none;
}

.u-section-1 .u-table-cell-25 {
  background-image: none;
}

.u-section-1 .u-table-cell-26 {
  background-image: none;
}

.u-section-1 .u-table-cell-27 {
  background-image: none;
}

.u-section-1 .u-table-cell-28 {
  background-image: none;
}

.u-section-1 .u-table-cell-29 {
  background-image: none;
}

.u-section-1 .u-table-cell-30 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 665px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 807px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 707px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 445px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 697px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 487px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 265px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 607px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 307px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 65px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 507px;
  }

  .u-section-1 .u-table-1 {
    margin-top: -250px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 48px;
    margin-left: 107px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 464px;
}