.u-section-1 {
  background-image: url("/images/Local-Trucking-Companies-blog.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 654px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 978px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px 67px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 157px 853px 0 0;
}

.u-section-1 .u-table-1 {
  margin-bottom: 60px;
  margin-top: 28px;
  margin-left: 0;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  background-image: linear-gradient(#ffca00, #db1829);
}

.u-section-1 .u-table-cell-2 {
  background-image: linear-gradient(#ffca00, #db1829);
}

.u-section-1 .u-table-cell-3 {
  background-image: linear-gradient(#ffca00, #db1829);
}

.u-section-1 .u-table-cell-4 {
  background-image: linear-gradient(#ffca00, #db1829);
}

.u-section-1 .u-table-cell-5 {
  background-image: linear-gradient(#ffca00, #db1829);
}

.u-section-1 .u-table-cell-6 {
  background-image: linear-gradient(#ffca00, #db1829);
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 778px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 653px;
  }

  .u-section-1 .u-table-1 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 558px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 433px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 378px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 253px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 178px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 53px;
  }
}